---
layout: default
title: Francisco Guzman | Collaborators
picture: paco
sitemap: false

mentored-students:
  - 
    name: Student name
    img: image
    url: if has url
    tagline: Tagline
    description: >
      Free flow description.
  

student-collaborators:
  -
    
  -
colleagues:
  -
 
mentors:
  -

---
<div class="page-header">
  <h3>Collaborators</h3>
</div>

<h4>Mentored students</h4>
{% include collaborator.html people=page.students %}

<h4>Colleagues</h4>
{% include collaborator.html people=page.colleagues %}

<h4>Teachers</h4>
{% include collaborator.html people=page.teachers %}

<br/>

If your information is out of date, please get in touch.


