---
layout: default
title: Shafiq Rayhan Joty
picture: shafiq

name: Shafiq Rayhan Joty

scholar:
  id: hR249csAAAAJ&hl=en

twitter:
  #id: raihanjoty
  #widget: 587238060623929344

github:
  id: raihanjoty

work:
  title: Assistant Professor
  email: sjoty_at_ntu_dot_edu_dot_sg 
  phone: +974 77390371 

  group:
    url: https://tasnim007.github.io/demo-site/
    name: Natural Language Processing Group

  department:
    url: http://scse.ntu.edu.sg/Pages/Home.aspx
    name: School of Computer Science and Engineering 

  university:
    url: http://www.ntu.edu.sg
    name: Nanyang Technological University, Singapore
---

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ page.title }} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        {{ page.work.title }}<br/>
<!--        <a href="{{ page.work.group.url }}">{{ page.work.group.name }}</a><br/>
-->  
        <a href="{{ page.work.department.url }}">{{ page.work.department.name }}</a><br/> 
        <a href="{{ page.work.university.url }}">{{ page.work.university.name }}</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:{{ page.work.email }}"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="tel:{{ page.work.phone }}"><span class="glyphicon glyphicon-phone"></span>Phone</a><br/>
      {% if page.scholar.id %}<a href="http://scholar.google.com/citations?user={{ page.scholar.id }}">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>{% endif %}
      {% if page.github.id %} <a href="http://github.com/{{ page.github.id }}">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github {% endif %}
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h3> Short Biography </h3>
      <li> Assistant Professor, Nanyang Technological University (NTU),    Singapore [Jul'17 - ] </li>
      <li> Research Scientist,  Qatar Computing Research Institute (QCRI), Doha [Jan'14 - Jul'17] </li>
      <li> PhD in Computer Science,  University of British Columbia (UBC), Vancouver [Sep'08 - Dec'13] </li>
      <li> MSc in Computer Science,  University of Lethbridge (UofL), Lethbridge [Sep'06 - Aug'08]</li>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-sm-12">
    <h3> Research Interests </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <nlp>
      <h4> Natural Language Processing </h4>
      <li> Discourse Processing </li>
      <li> Question Answering </li>
      <li> Machine Translation </li>
      <li> Text Summarization </li>
      <li> Sentiment Analysis </li>
    </nlp>
  </div>
  <div class="col-sm-6">
    <ml>
      <h4> Machine Learning </h4>
      <li> Probabilistic Graphical Models </li>
      <li> Deep Learning </li>
      <li> Reinforcement Learning </li>
      <li> Representation Learning </li>
    </ml>
  </div>
</div>

<hr>





<h4>News</h4>
<div class= "row">
<div class="col-sm-12">

<ul class="list-group">
{% for item in site.data.news  limit: 8 %}
   <li class="list-group-item"><span class="badge" >{{item.date | date: "%-d %b %y"}}</span><span>{{ item.text }}</span></li>
{% endfor %}
</ul>
</div>
<!--
{% if page.twitter.id %}<div class="col-sm-4" style="outline: 1px solid #5E472D;">
  <a class="twitter-timeline" width="300" data-theme="light"
  data-link-color="#5E472D"
  height="500" href="https://twitter.com/{{ page.twitter.id }}" data-widget-id="{{ page.twitter.widget }}">Tweets by @{{ page.twitter.id }}</a>
</div>{% endif %}
-->
</div>


<h4>Selected Papers</h4>
{%assign papers= site.data.papers | sort: "year" | reverse  %}
{% for post in papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}
