---
layout: default
title: Shafiq Rayhan Joty
picture: shafiq

name: Shafiq Rayhan Joty

scholar:
  id: hR249csAAAAJ&hl=en

twitter:
  #id: raihanjoty
  #widget: 587238060623929344

github:
  id: ntunlpsg

work:
  title: Assistant Professor
  title2: Senior Manager
  office: Block N4, 02c-79
  office2: Floor 40, Suntec City Tower 2
  email: srjoty_at_ntu_dot_edu_dot_sg 
  email2: sjoty_at_salesforce_dot_com 
  phone: +65 69041107
  phone2: +65 90696196
  cell:  +65 85752318 

  group:
    url: https://ntunlpsg.github.io/#about
    url2: https://einstein.ai/research
    name: NTU Natural Language Processing Group
    name2: Salesforce AI Research

  department:
    url: http://scse.ntu.edu.sg/Pages/Home.aspx
    name: School of Computer Science and Engineering 

  university:
    url: http://www.ntu.edu.sg
    name: Nanyang Technological University, Singapore
---

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ page.title }} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        {{ page.work.title }}<br/>
        <a href="{{ page.work.group.url }}">{{ page.work.group.name }}</a><br/>
        Office: {{ page.work.office }}<br/> 
        <a href="{{ page.work.department.url }}">{{ page.work.department.name }}</a><br/> 
        <a href="{{ page.work.university.url }}">{{ page.work.university.name }}</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:{{ page.work.email }}"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="tel:{{ page.work.phone }}"><span class="glyphicon glyphicon-phone"></span>Phone</a><br/>
      {% if page.scholar.id %}<a href="http://scholar.google.com/citations?user={{ page.scholar.id }}">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>{% endif %}
      {% if page.github.id %} <a href="http://github.com/{{ page.github.id }}">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github {% endif %}
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-6">
      <address>
        {{ page.work.title2 }} <br/> 
        <a href="{{ page.work.group.url2 }}">{{ page.work.group.name2 }}</a><br/>
        Office: {{ page.work.office2 }}<br/>         
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:{{ page.work.email2 }}"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="tel:{{ page.work.phone2 }}"><span class="glyphicon glyphicon-phone"></span>Phone</a><br/>
    </div>
  </div>


<div class="row">
  <div class="col-sm-12">
    <h3> Short Biography </h3>
      <li> Assistant Professor, <a href=http://www.ntu.edu.sg> Nanyang Technological University (NTU), </a>    Singapore [Jul'17 - ] </li>
      <li> Senior Research Manager, <a https://www.salesforce.com/products/einstein/ai-research/> Salesforce AI Research, </a>    Singapore [Feb'19 - ] </li>
      <li> Research Scientist,  <a href=http://qcri.qa/> Qatar Computing Research Institute (QCRI), </a> Doha [Jan'14 - Jul'17] </li>
      <li> PhD in Computer Science, <a href=https://www.cs.ubc.ca/> University of British Columbia (UBC),</a> Vancouver [Sep'08 - Dec'13] </li>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-sm-12">
    <h3> Research Interests </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <nlp>
      <h4> Natural Language Processing </h4>
      <li> NLP tools (Syntax, Semantics and Discourse) </li>
      <li> Multi-lingual NLP (Machine Translation, Cross-lingual tasks) </li>
      <li> NLP Applications (QA,  Summarization, Dialogue) </li>
      <li> Robust/adversarial NLP  </li>
      <li> Multi-modal NLP  (Image/Video Captioning) </li>
    </nlp>
  </div>
  <div class="col-sm-6">
    <ml>
      <h4> Machine Learning </h4>
      <li> Deep Learning </li>
      <li> Probabilistic Graphical Models </li>
      <li> Reinforcement Learning </li>
    </ml>
  </div>
</div>

<hr>





<h4>News</h4>
<div class= "row">
<div class="col-sm-12">

<ul class="list-group">
{% for item in site.data.news  limit: 8 %}
   <li class="list-group-item"><span class="badge" >{{item.date | date: "%-d %b %y"}}</span><span>{{ item.text }}</span></li>
{% endfor %}
</ul>
</div>
<!--
{% if page.twitter.id %}<div class="col-sm-4" style="outline: 1px solid #5E472D;">
  <a class="twitter-timeline" width="300" data-theme="light"
  data-link-color="#5E472D"
  height="500" href="https://twitter.com/{{ page.twitter.id }}" data-widget-id="{{ page.twitter.widget }}">Tweets by @{{ page.twitter.id }}</a>
</div>{% endif %}
</div>
<h4>Selected Papers</h4>

<h5>This list contains only journal papers. For full list of papers see the <a href=https://raihanjoty.github.io/papers.html> Papers </a> tab. </h5>
-->