---
layout: default
title: Shafiq Joty | Teaching
picture: shafiq

---



<div class="page-header">
  <h3>Teaching</h3>
</div>

<blockquote>
  <p>
      I enjoy teaching.
 </p>
</blockquote>

<!--

<h4>Current Mentored Intern Projects</h4>
<ul class="dl-horizontal">
  {% for post in site.data.mentoring["current-projects"] %}
    {% include interns.html post=post %}
  {% endfor %}
</ul>
<h4>Past Mentored Intern Projects</h4>
<ul class="dl-horizontal">
  {% assign projects = site.data.mentoring["past-projects"] | sort: "year"| reverse %}
  {% for post in projects %}
    {% include interns.html post=post %}
  {% endfor %}
</ul>

-->