---
layout: default
title: Shafiq Rayhan Joty | Publications
picture: shafiq
---
<div class="page-header">
  <h3>Publications</h3>


<div class="row">
      <li> <a href="https://scholar.google.com/citations?user=hR249csAAAAJ&hl=en">
        <img src="img/ico/gs.png" alt=""/>
      Google scholar listing </a>  </li>
      <li> <a href=#papers> <img src="img/ico/paper_icon.png" alt=""/> Research papers</a> </li>
      <li> <a href=#theses> <img src="img/ico/thesis_icon.jpeg" alt=""/> Theses (PhD and MSc) </a> </li>
      <li> <a href=#talks>  <img src="img/ico/talk_icon.png" alt=""/>  Talks </a> </li>
      <li> <a href=href=https://ntunlpsg.github.io/resources/>  <img src="img/ico/github_icon.png" alt=""/>  Codes and Demos </a> </li>
<!--
      <li> <img src="img/ico/report_icon.png" alt=""/> Tech reports, tutorials, etc. </li>
-->
</div>

<hr>


<!-- <blockquote><i>I would have written a shorter letter, but I did not have the time.<br/>&mdash;Blaise Pascal</i></blockquote>
</div> -->

<h4> <a name="papers"></a>  Research papers (journals, confereces, workshops)</h4>

All papers have been subject to peer review unless indicated otherwise. <font color="0000FF"> You can find most of the codes in the <a href=https://ntunlpsg.github.io/resources/> NLP group page </a> </font>


 {%assign  years = site.data.papers | group_by :"year" | sort: "title" | reverse %}
 {% for year in years %}
  <h5> {{year.name}}</h5>
 {% for post in year.items %}
      {% include paper.html paper=post %}
  {% endfor %}
{% endfor %}

<h4> <a name="theses"></a> Theses </h4>

 {%assign  years = site.data.theses | group_by :"year" | sort: "title" | reverse %}
 {% for year in years %}
  <h5> {{year.name}}</h5>
 {% for post in year.items %}
      {% include paper.html paper=post %}
  {% endfor %}
{% endfor %}

<h4> <a name="talk"></a> Talks </h4>

will update soon!


<!--
{% assign years= site.data.talks | group_by: "year"| sort: "name"| reverse %}
{%for year in years %}

{% for talk in year.items %}
<div class="media">
  <a class="pull-left thumbnail" {%if talk.url %} href="{{ talk.url }}" {% endif %}>
    <img class="media-object" src="{{site.deploy}}/img/talk/{{ talk.img }}.jpg" alt="">
  </a>
  <div class="media-body" id="{{talk.img}}">
    <strong>{{ talk.title }}</strong><br/>
    {{ talk.detail }}.{{ talk.year }}
    {% if talk.video %}<br/>
      <a href="{{ talk.video }}"><span class="glyphicon glyphicon-film"></span></a> Video
    {% endif %}
  </div>
</div>
{% endfor %}
{% endfor %}
-->
